<h1>Tambah Catatan</h1>
<form action="/" method="POST">
  <input name="title" placeholder="Judul"><br>
  <textarea name="content" placeholder="Isi catatan"></textarea><br>
  <button type="submit">Simpan</button>
</form>
<a href="/">â† Kembali</a>
